body {
    padding: 0px;
    margin: 0px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #f5eded;
}

.value-style {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-size: xl-large;
    color: orangered;
}
.value-title {
    font-size: x-large;
    margin-right: 6px;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.resource-value-style {
    font-size: x-large;
    padding: 4px;
}